.post-page-main {
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  width: 25%;
  max-width: 250px;
}

.post-main {
  width: 60%;
}

.rightBar {
  width: 15%;
}

.rightBar input {
  width: 80%;
  font-size: 16px;
}

input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 30px;
}




@media only screen and (max-width: 850px) {
 .sidebar{display: none;}
 .post-page-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}