
.tech-tag {
    background: #2f9f5f;
    border-radius: 10%;
    border-color: transparent;
    font-size: .75rem;
}

.icon {
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }