

.index-main {
  display: flex;
} 

/* .sidebar {
  width: 25%;
} */
.post-list-main {
  width: 60%;
}

.rightBar {
  width: 15%;
}

.rightBar input {
  width: 100%;
  font-size: 16px;
}

.page-item.active .page-link{
  background-color: #2f9f5f;
  border-color: #2f9f5f;
} 
.page-link {
  color: #2f9f5f;
}
.page-link:focus {
  box-shadow: 0 0 0 0.1rem #2f9f5f;
}

a > small {
  color: #9fd4b6;
}

a > small:hover {
  text-decoration: underline;
}

a {
  color: #9fd4b6;
}

@media only screen and (max-width: 568px) {
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}