.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
}

@media (min-width: 568px) {
  .head-main {
    height: 60px;
    line-height: 60px;
    font-size: 1.75rem;
  }
}

.primary-bgc {
  background-color: #617284;
}
.herder-name {
  color: #fff;
  text-align: center;
}
.herder-name h1 {
  font-size: 1.75rem;
}
.herder-name h6 {
  font-size: .75rem;
  font-weight: 400;
}

.head-main a {
  cursor: pointer;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobile-pages-main {
  width: 100%;
  display: none;
  background: hsl(211deg 22% 80%);
  border-radius: 5px;
}

.mobile-pages-main-link {
  line-height: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.mobile-bio-main a {
  cursor: pointer;
}

.mobile-bio-main {
  background: white;
  display: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.mobile-tag-list {
  overflow: hidden;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-color: hsl(211deg 20% 80%);
}
