.sidebar-main {
    width: 100%;
    
}


.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

.side-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-links {
    font-size: .75rem;
}


.profile-img {
     border-radius: 50%;
     box-shadow: 1px 1px 3px;
}


.author-bio {
    font-size: 2vw;
}

